h2 {
    margin: 0px 0;
    font-size: 1.2em;
}

.todoDetail {
    font-size: 0.8em;
    color: rgb(255, 255, 255);
}

.editButton {
    cursor: pointer;
    padding: 5px 10px;
}

.containerDetail {
    padding: 5px 0;
}