<div class="header">
   
</div>
<div class="container">
<div class="containerLeft"><app-all-todos></app-all-todos></div>
<div class="containerRight"><app-todo></app-todo></div>
</div>

<!-- Bild von <a href="https://pixabay.com/de/users/nonmisvegliate-7011191/?utm_source=link-attribution&utm_medium=referral&utm_campaign=image&utm_content=3699372">Luca</a> auf <a href="https://pixabay.com/de//?utm_source=link-attribution&utm_medium=referral&utm_campaign=image&utm_content=3699372">Pixabay</a> -->
